body {
	background-color: #ccc;
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}

#head {
	background-color: white;
	margin-bottom: 10px;
}

#movies-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

#movies-container2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
}

#menu {
	margin-bottom: 10px;
}

.card-body {
	display: flex;
	justify-content: space-around;
}

#pic {
	display: flex;
	align-self: flex-end;
}